/Animal.class
/AreaOfTriangle.class
/Arithmatic.class
/Ayush.class
/CheckImpo.class
/Cubiod.class
/DataTypeDetails.class
/Elephant.class
/Gmail.class
/LeftShift.class
/Length.class
/Lengths.class
/Lion.class
/Literals.class
/LowerCase.class
/LowerCasee.class
/Matrix.class
/Monkey.class
/NewAreaOfTriangle.class
/Palindrom.class
/Pattern.class
/Practice.class
/QuadraticEquation.class
/Replace.class
/Series10.class
/UpperCase.class
/UpperCasee.class
/WithoutMainMethod.class
/ZOO.class
/startsWith.class
